[submodule "src/MOM6"]
	path = src/MOM6
	url = https://github.com/MJHarrison-GFDL/MOM6.git
[submodule "src/mkmf"]
	path = src/mkmf
	url = https://github.com/NOAA-GFDL/mkmf.git
[submodule "src/FMS.git"]
	path = src/FMS
	url = https://github.com/NOAA-GFDL/FMS.git
